@import 'variables.css.scss';
@import 'globals.css.scss';

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  font-smoothing: antialiased;
}

// *** Content top ***

.content-top::before {
  background: linear-gradient(to top, #F4FCFF, #f9fdff);
  display: block;
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  height: 650px;
  content: '';
  transform: skewY(-2deg);
  box-shadow: 0 -200px 0 #f9fdff;
  z-index: -99;
}

.breadcrum {
  display: block;
  position: relative;
  width: calc(100% - 40px);
  max-width: 900px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  top: -110px;
  overflow: hidden;
  padding: 0 30px;
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.03);
  .tree {
    display: flex;
    position: relative;
    top: 1px;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin-right: 100px;
    padding: 0;
    p {
      font-family: "Avenir";
      position: relative;
      cursor: pointer;
      font-weight: 300;
      color: $lighterGrey;
      font-size: 12px;
      &.current {
        color: $selectedBlue;
        font-weight: 500;
      }
    }
    .arrow {
      display: block;
      background: transparent url(/images/icons/arrow-right.svg) no-repeat center;
      position: relative;
      width: 10px;
      height: 10px;
      background-size: 10px;
      margin: 0 15px;
      opacity: 0.6;
      overflow: hidden;
    }
  }
  .help::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    right: auto;
    width: 3px;
    height: 12px;
    border-radius: 10px;
    background: rgba(0,0,0,0.08);
    content: '';
  }
  .help {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    align-items: center;
    padding: 0 30px;
    justify-content: flex-end;
    p {
      font-family: "Avenir";
      position: relative;
      font-weight: 600;
      color: $lighterGrey;
      font-size: 12px;
    }
  }
}

.headline {
  width: 100%;
  margin: -50px auto;
  text-align: center;
  h1 {
    padding:0;
    margin:0;
    font-family: "Avenir";
    font-weight: 300;
    color: $darkerBlack;
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-family: "Avenir";
    font-weight: 300;
    color: $lighterBlack;
    font-size: 20px;
    line-height: 30px;
  }
  .img {
    margin: auto;
    padding: 0;
    outline: 0;
  }
}

.cta {
  position: relative;
  width: 100%;
  margin-top: 80px;
  text-align: center;
  &::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    margin: auto;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 20%, transparent 20%);
    background-repeat: repeat-x;
    background-position: top;
    background-size: 5px 1px;
    content: '';
    opacity: 0.5;
    z-index: 0;
  }
  &::after {
    height: 3px;
    background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, #fff 100%);
    background-size: 100% auto;
    z-index: 1;
  }
  .infos {
    position: relative;
    top: 10px;
    span {
      font-size: 11px;
      color: $lighterBlack;
      font-family: "Avenir";
      font-weight: 500;
    }
  }
}

.logos {
  margin: 50px auto;
  &-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
    }
  }
}

// *** Content center ***

.content-center {
  margin-top: -40px;
  &::before {
    background: linear-gradient(to top, #F4FCFF, #f9fdff);
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 750px;
    content: '';
    transform: skewY(+2.5deg);
    z-index: -99;
  }
  &::after {
    background: linear-gradient(to right, #F4FCFF, rgba(203, 238, 255, 0.5));
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 750px;
    content: '';
    transform: skewY(-2.5deg) translate(0, -2310px);
    z-index: -199;
  }
}

.wrap {
  display: flex;
  width: auto;
  max-width: 1440px;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 100px 20px;
  justify-content: space-between;
  .text {
    position: relative;;
    width: 27%;
    margin: 0 5%;
    h3 {
      padding:0;
      margin:0;
      font-family: "Avenir";
      font-weight: 300;
      color: $darkerBlack;
      font-size: 40px;
      line-height: 40px;
      span {
        font-weight: 500;
      }
    }
    p {
      font-family: "Avenir";
      font-weight: 500;
      color: $lighterGrey;
      letter-spacing: 0.07px;
      font-size: 17px;
      line-height: 26px;
    }
  }
}

.reverse {
  padding: 100px 150px;
  .text {
    transform: translate(-50px, 0);
    width: 35%;
  }
}

// *** Content bottom ***

.content-bottom {
  margin-top: -250px;
  &::before {
    background: linear-gradient(to top, #F4FCFF, #f9fdff);
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 850px;
    content: '';
    transform: skewY(-2.5deg);
    z-index: -99;
  }
  &::after {
    background: linear-gradient(to right, #F4FCFF, rgba(203, 238, 255, 0.5));
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 850px;
    content: '';
    transform: skewY(+2.5deg) translate(0, -1130px);
    z-index: -199;
  }
}

.testimonies {
  width: 100%;
  text-align: center;
  padding-top: 250px;
  h2 {
    padding:0;
    margin:0;
    font-family: "Avenir";
    font-weight: 300;
    color: $darkerBlack;
    font-size: 35px;
    line-height: 40px;
    span {
      font-weight: 500;
    }
  }
  .card {
    display: flex;
    position: relative;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1000px;
    min-height: 260px;
    margin: 50px auto 100px;
    padding: 20px 20px;
    border: 1px solid rgba(186,186,186,0.3);
    border-radius: 20px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    &-video {
      margin: auto;
      width: 600px;
      box-shadow: 0 4px 40px 0 rgba(0,0,0,0.03);
    }
    &-quote {
      margin-left: 80px;
      padding-top: 50px;
      width: 40%;
      text-align: left;
      h6 {
        margin: -23px 0 0 0;
        font-size: 20px;
        font-family: "Avenir";
        color: $lighterGrey;
        font-weight: 500;
        padding: 0;
      }
      p {
        font-size: 15px;
        font-family: "Avenir";
        color: $lighterGrey;
        font-weight: 300;
      }
      svg {
        width: 40px;
        margin-left: -12px;
        opacity: 0.5;
      }
    }
    &-logo {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 80px;
      margin-right: -70px;
      border-radius: 10px;
      background: white;
      box-shadow: 0 4px 0 0 rgba(0,0,0,0.03), 0 0 0 1px rgba(0,0,0,0.08);
      content: '';
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 40px 0 rgba(0,0,0,0.1);
    }
  }
}
