<nav class="header">
  <div class="content">
    <div class="content-left">
      <span><%= svg'logos/aircall-logo' %></span>
      <ul class="list">
        <li><%= svg'logos/aircall-logotype' %></li>
        <li>Solutions</li>
        <li>Product</li>
        <li>Integrations</li>
        <li>Pricing</li>
        <li>Demo</li>
        <li>Resources</li>
      </ul>
    </div>
    <div class="content-right">

    </div>
  </div>
</nav>
